/* main body attributes */

body { 
    background-image: url("../images/little_pluses.png");
    background-color: bisque;
}

.main-wrapper{
    background-color: white;
}


/* styling for the MD table */
.scrollable-table {
    max-height:100px;
}

.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
    }

.table-wrapper-scroll-y {
    display: block;
    }